<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class="table table-striped">
  <thead>
    <tr align="left">
      <th>email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<li> <%= link_to 'Sign out', destroy_user_session_path, :class => "btn btn-success", method: :delete%></li>



<% if false %>
    <%= link_to 'New User', new_user_path %>
<% end %>