<p id="notice"><%= notice %></p>

<div align=right> <%= link_to 'Sign out', destroy_user_session_path, :class => "btn btn-success", method: :delete%></div>
<h1>Listing Microposts</h1>

<table class="table">
  <thead>
    <tr align="left">
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= micropost.content %></td>
        <td><%= micropost.user_id %></td>
        <td><%= link_to 'Show', micropost %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost) %></td>

        <% if micropost.likes.where(:user_id => current_user.id).count == 1 %> 
          <td><%= link_to 'Unlike', like_path(micropost.likes.where(:user_id => current_user.id).first.id,:destroy => true), method: :delete,  data: { confirm: 'Are you sure?' }  %></td>
        <% else %>
          <td><%= link_to 'Like', likes_path(:micropost_id => micropost), method: :post %></td>
        <% end %>


        <td><%= micropost.likes.count %></td>
      <% if micropost.user_id == current_user.id %>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= current_user.id %>
<br>

<%= link_to 'New Micropost', new_micropost_path %>
